
@media screen and (max-width: 1400px){
    .card.bg{
        display: none;
    }
}

@media screen and (max-width: 625px){
    .container{
        flex-direction: column;
    }
    .card{
        width: 95% !important;
        height: 40vh !important;
        margin: 5px 0px !important;
    }

    .card-img{
        object-fit: fill !important;
    }

    .container-right{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .card:hover{
        height: 70vh;
        width: 61%;
    }

    p{
        width: 85% !important;
        display: inline-block;
        margin-bottom: 10px;
        margin-top: 2px;
    }



}

.full-container{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    position: relative;
    height: 95vh;
    display: flex;
    align-items: center;
}

.container-left{
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-right{
    flex: 1;
    min-width: 400px;
}

.card.bg{
    position: absolute;
    top: 100px;
    left: 80px;
    background-color: rgb(149, 149, 149)
}

.card.bg:hover{
    width: 61%;
    height: 70vh;
}

.card{
    width: 61%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: width 0.5s, height 0.5s;
}

.card:hover{
    height: 73vh;
    width: 63%;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    font-weight: 500;
}

.description{
    width: 70%;
}

.chevron{
    margin: auto;
    width: 45px;
}

.chevron:hover{
    color: rgb(41, 174, 251)
}